---
http_interactions:
- request:
    method: get
    uri: https://coderwall.com/garethrees.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"3e9206313e0b6a4534b8e6ed11d9fa2f"'
      Last-Modified:
      - Mon, 11 Feb 2013 09:49:52 GMT
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"username":"garethrees","name":"Gareth Rees","location":"Cardiff,
        Wales UK","endorsements":0,"team":"50623342351e400015000003","accounts":{"github":"garethrees"},"badges":[{"name":"Forked","description":"Have
        a project valued enough to be forked by someone else","created":"2012-12-06T03:54:46Z","badge":"https://d3levm2kxut31z.cloudfront.net/assets/badges/forked1-ccde995368958c2e041acd64d8e4445f.png"},{"name":"Altruist","description":"Increase
        developer well-being by sharing at least 20 open source projects","created":"2012-11-23T11:53:50Z","badge":"https://d3levm2kxut31z.cloudfront.net/assets/badges/altrustic-ac4b637a6c9fb3801257550f0a870acc.png"},{"name":"Ashcat","description":"Make
        Ruby on Rails better for everyone by getting a commit accepted","created":"2012-09-22T23:55:31Z[...]
